@tailwind base;
@tailwind components;
@tailwind utilities;


#example::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #9ae1f0;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #5fcde3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #9ae1f0;
}